body {
margin:0;
font-family: Arial;
background:#0f172a;
color:white;
}
.sidebar {
width:200px;
height:100vh;
background:#020617;
position:fixed;
padding:20px;
}
.sidebar a {
color:white;
text-decoration:none;
display:block;
padding:10px;
}
.main {
margin-left:220px;
padding:20px;
}
.card {
background:#1e293b;
padding:20px;
border-radius:10px;
}
.center {
text-align:center;
margin-top:100px;
}
input,button {
padding:10px;
margin:5px;
}
button {
background:#38bdf8;
border:none;
}
